streamlit==1.35.0
langchain-core==0.2.14
langchain-community==0.2.12
langchain-groq==0.1.9
chromadb==0.5.0
pandas==2.0.3
python-dotenv==1.0.0
pysqlite3-binary==1.0.3
unstructured==0.14.6
selenium==4.21.0
protobuf==3.20.0
